@use "/src/sass/base/variables.scss" as *;

.git {
	padding-top: 60px;
	&__wrapper {
		margin-top: 20px;
	}
	&__col_img {
		display: none;
	}
	&__img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}
}

@media screen and (min-width: 768px) {
	.git {
		padding: 60px 95px 0 95px;
		&__wrapper {
			margin-top: 40px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.git {
		padding: 60px 0 0 0;
		&__wrapper {
			margin-top: 80px;
			gap: 40px;
		}
		&__col,
		&__col_img {
			width: calc(50% - 20px) !important;
		}
		&__col_img {
			display: block;
		}
		&__img {
			margin-top: 0;
		}
	}
}

@media screen and (min-width: 1920px) {
	.git {
		padding-top: 100px;
		&__col {
			width: calc(60% - 24px) !important;
			padding: 0 75px 0 127px;
		}
		&__col_img {
			width: calc(40% - 16px) !important;
		}
	}
}
